---
import Layout from '../layouts/Layout.astro';

import GithubIcon from '../components/github-icon.astro';
import LinkedinIcon from '../components/linkedin-icon.astro';
import Projects from '../components/projects.astro';
import Cv from '../components/cv.astro';

const year = (new Date()).getFullYear()
---

<Layout title="Louis Charles">
	<main class="min-h-screen w-full font-mono bg-slate-700">
		<div class="w-full h-screen flex justify-center items-center p-10">
			<div>
				<h1 class="text-7xl font-light p-1 text-neutral-200">Hello, World!</h1>
				<p class="text-2xl font-light text-slate-400">I'm <strong class="text-blue-400 font-bold">Louis</strong>, a student from <img class="emoji" src="gb-flag.svg"/></p>
			</div>
		</div>
		<div class="fixed top-0 w-full flex flex-row gap-4 p-4 justify-end">
			<a href="https://github.com/louisjdcharles" class="p-2"><GithubIcon class="fill-neutral-100 hover:fill-blue-400 w-6" /></a>
			<a href="https://linkedin.com/in/louisjdcharles" class="p-2"><LinkedinIcon class="fill-neutral-100 hover:fill-blue-400 w-6" /></a>
		</div>
		<div id="about" class="w-full flex justify-center items-center bg-slate-800 p-10">
			<div class="xl:w-3/5 space-y-6 sm:text-xl text-neutral-300">
				<h2 class="text-4xl text-blue-400 font-bold">About Me</h2>
				<p>
					<img class="emoji" src="waving.svg"/> Hi! I'm Louis, a student from the united kingdom.
				</p>
				<p>
					<img class="emoji" src="school.svg"/> I am currently in year 13, studying A Level Maths,
					Further Maths and Physics.
					Next year I am planning to start a degree in Computer Science,
					and have applied to Cambridge, Bristol, Bath and Warwick.
				</p>
				<p>
					<img class="emoji" src="computer.svg"/> My interest in Computer Science began at the age of 13,
					when I learned how to make simple websites using HTML and CSS,
					since then I have worked on interesting projects spanning many areas
					of Computer Science.
				</p>
				<p>
					<img class="emoji" src="arrow.svg"/> Currently, I am focusing on projects involving computer graphics and AI
				</p>
			</div>
		</div>
		<div id="projects" class="w-full flex justify-center items-center bg-slate-700 p-10">
			<div class="xl:w-3/5 w-full space-y-6">
				<h2 class="text-4xl text-red-400 font-bold">Featured Projects</h2>

				<Projects />
			</div>
		</div>
		<div id="cv" class="w-full flex justify-center items-center bg-slate-800 p-10">
			<div class="xl:w-3/5 w-full space-y-6">
				<h2 class="text-4xl text-orange-400 font-bold">CV</h2>
				<Cv />
			</div>
		</div>
		<div id="contact" class="w-full flex justify-center items-center bg-slate-700 p-10 text-neutral-100 text-xl">
			<div class="xl:w-3/5 w-full space-y-6">
				<h2 class="text-4xl text-cyan-400 font-bold">Contact</h2>
				<p>Email: <a class="underline text-blue-400" href="mailto:contact@louisc.me">contact@louisc.me</a></p>
			</div>
		</div>
		<div class="w-full bg-slate-900 p-4 flex justify-center items-center text-white font-light gap-4">
			<span class="text-2xl">&copy;</span>
			<span>
				 Louis Charles {year}
			</span>
		</div>
	</main>
</Layout>