---

---

<Fragment>
    <h3 class="text-2xl font-bold text-yellow-300">Education</h3>
    <div class="grid sm:grid-cols-5 text-neutral-100 gap-4 grid-cols-1">
        <span class="font-bold">September 2016 - August 2023</span>
        <div class="sm:col-span-3 space-y-4">
            <h4 class="text-xl font-bold text-purple-500">[redacted] School (GCSES &amp; A Levels)</h4>
            <p>Six 9s, Five 8s, and one 7 in GCSEs.</p>
            <p>A Level Maths, Further Maths and Physics, predicted A*A*A*.</p>
        </div>
        <p class="justify-self-center">[redacted]</p>
    </div>
    <h3 class="text-2xl font-bold text-yellow-300">Experience</h3>
    <div class="grid sm:grid-cols-5 text-neutral-100 gap-4 grid-cols-1">
        <span class="font-bold">July 2022</span>
        <div class="sm:col-span-3 space-y-4">
            <h4 class="text-xl font-bold text-amber-400">Diamond Light Source (FPGAs work experience)</h4>
            <p>Learned how FPGAs work and their applications.</p>
            <p>Wrote and debugged programs using the VHDL programming language on an FPGA prototyping board.</p>
            <p>Integrated an LED expansion module into the <a class="underline text-blue-400" href="https://github.com/PandABlocks/PandABlocks-FPGA">PandABlocks</a> FPGA Framework.</p>
        </div>
        <img src="diamond.png" class="w-28 justify-self-center"/>
        <hr class="sm:hidden"/>
        <span class="font-bold">November 2019</span>
        <div class="sm:col-span-3 space-y-4">
            <h4 class="text-xl font-bold text-lime-400">Cisco Systems (Technical work experience)</h4>
            <p>Learned about computer networks, cyber security, and delivering presentations.</p>
            <p>Worked in a team to create a presentation for a startup idea competion, which my team won.</p>
            <p>Built a prototype android app using Java for my team's presentation.</p>
        </div>
        <img src="cisco.png" class="w-28 justify-self-center"/>
    </div>
    <h3 class="text-2xl font-bold text-yellow-300">Competitions</h3>
    <div class="grid sm:grid-cols-5 grid-cols-1 text-neutral-100 gap-4">
        <span class="font-bold">November 2021</span>
        <div class="sm:col-span-3 space-y-4">
            <h4 class="text-xl font-bold text-teal-400">Senior Maths Challenge</h4>
            <p>Achieved a gold award (top 11% of scores)</p>
        </div>
        <img src="ukmt.png" class="w-28 justify-self-center"/>
        <hr class="sm:hidden"/>
        <span class="font-bold">March 2019</span>
        <div class="sm:col-span-3 space-y-4">
            <h4 class="text-xl font-bold text-rose-400">BAFTA Young Game Designers</h4>
            <p>Designed, programmed and created art for my game 'Ladder Climb'</p>
            <p>Used the Unity game engine and C# programming language</p>
            <p>Finished in top 10 out of over 1000 entries</p>
        </div>
        <img src="bafta.webp" class="w-28 justify-self-center"/>
    </div>
    <h3 class="text-2xl font-bold text-yellow-300">Volunteering</h3>
    <div class="grid sm:grid-cols-5 grid-cols-1 text-neutral-100 gap-4">
        <span class="font-bold">October 2021 - Present</span>
        <div class="sm:col-span-3 space-y-4">
            <h4 class="text-xl font-bold text-violet-400">Further Maths Mentoring</h4>
            <p>Tutoring a GCSE Further Maths student</p>
        </div>
    </div>
</Fragment>